- (void) imagePickerControllerDidCancel: (UIImagePickerController *) picker {
    [[picker parentViewController] dismissModalViewControllerAnimated: YES];
    [picker release];
     <%cameraCancelCallbacks.each {callback->%>
     [self <%=callback%>];<%}%>
     <%videoCancelCallbacks.each {callback->%>
     [self <%=callback%>];<%}%>
}
