-(void)<%=methodName%> {
	CLAuthorizationStatus status = [CLLocationManager authorizationStatus];
	if (status==kCLAuthorizationStatusAuthorizedWhenInUse) {
		[self.locationManager startUpdatingLocation];
    }
}
