<%if (createMethod%>- (void)viewDidLoad {
    [super viewDidLoad];<%}%>
    self.locationManager = [[CLLocationManager alloc] init];
    self.locationManager.delegate = self;

    if ([self.locationManager respondsToSelector:@selector(requestWhenInUseAuthorization)]) {
        [self.locationManager requestWhenInUseAuthorization];
    }
   <%if (automatic) {%>[self.locationManager startUpdatingLocation];<%}%>
<%if (createMethod) {%>}<%}%>
