    <%if (createMethod) {%>@Override
    public void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);<%}%>
        //Retrieve sensorManager
        <%=sensorManager%> = (SensorManager) <%=context?"${context}.":""%>getSystemService(Context.SENSOR_SERVICE);
        //Retrieve sensors
        <%if (gyroscope) {%>mGyroscopeSensor = <%=sensorManager%>.getDefaultSensor(Sensor.TYPE_GYROSCOPE);<%}%>
        <%if (accelerometer) {%>mAccelerometerSensor = <%=sensorManager%>.getDefaultSensor(Sensor.TYPE_ACCELEROMETER);<%}%>
        sensorDSLMotionListener = new SensorDSLMotionListener();
    <%if (createMethod) {%>}<%}%>